@import url("reset.css");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

body {
  overflow: auto;
  margin: 0 auto;
  font-family: "Caveat", "Segoe UI", system-ui, -apple-system, sans-serif;
}

.wrapper {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header__content {
  font-size: clamp(20px, 4.8vw, 44px);
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-weight: 600;
  text-align: center;
}

.header__title {
  font-size: clamp(32px, 6vw, 62px);
  font-weight: 800;
}

.nav__section-conect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.nav__social-items {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-items__link {
  display: inline-flex;
  align-items: center;
}

.social-items__icon {
  width: 50px;
  height: 50px;
  display: block;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

main {
  padding-bottom: 50px;
}

.social-items__icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.course--basic {
  font-size: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.course__title {
  font-size: clamp(42px, 5.5vw, 58px);
  font-weight: 600;
}

.course__price {
  margin-bottom: 30px;
}

.course__price-title {
  font-size: 42px;
}

.course__price-value {
  text-decoration: line-through solid #750303 1.5px;
}

.price-value--sale {
  text-decoration: underline solid #000 1px;
}

.course__program {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.84)
  );
  border-radius: 15px;
  gap: clamp(20px, 5vw, 60px);
  padding: clamp(16px, 3vw, 40px) clamp(12px, 3vw, 24px);
}

.course__program-title {
  font-size: clamp(28px, 3.5vw, 42px);
  font-weight: 600;
}

.course__program-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(20px, 5vw, 50px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 15px 10px 20px 10px;
  border-radius: 15px;
}

.course__program-day-title {
  font-size: clamp(28px, 4.5vw, 40px);
  width: 50%;
  font-weight: 600;
}

.course__program-list {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 3vw, 20px);
}

.course__program-item {
  font-size: clamp(38px, 2.2vw, 36px);
}

.course__program-item::before {
  content: "-";
}
